---
Language:        Cpp
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     120
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1
SpaceBeforeCpp11BracedList: false
SpacesInAngles:  false
